.header {
    display: flex;
    background-color: #1997f0;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.logo{
    margin: 0;
    color: #fff;
    font-size: 14px;
}